<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022756443528-bsirfge57locft115gkcnkpnr6qr95cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022756443528-bsirfge57locft115gkcnkpnr6qr95cb</string>
	<key>API_KEY</key>
	<string>AIzaSyA2uWjhWoYptCzryIbebUpIY7BKRoqBIb0</string>
	<key>GCM_SENDER_ID</key>
	<string>1022756443528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.atcriatura</string>
	<key>PROJECT_ID</key>
	<string>atcriatura</string>
	<key>STORAGE_BUCKET</key>
	<string>atcriatura.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022756443528:ios:432e75ac8dbcd40ebd963d</string>
</dict>
</plist>